# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Streamlit
.streamlit/secrets.toml

# Dados gerados
data/banco_master_processado.csv

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
